%h2
	Edit tournament

= render :partial => "form"

- content_for :sidebar do
	= link_to('<i class="icon-trash"></i>  Delete tournament'.html_safe, admin_tournament_path(@tournament), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-large btn-danger") 
	%hr
	Last time edited:
	= @tournament.updated_at.strftime("%d.%m.%Y")