%h2
	Edit coach

= render :partial => "form"

- content_for :sidebar do
	= link_to('<i class="icon-trash"></i>  Delete coach'.html_safe, coach_path(@coach), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-large btn-danger") 
	%hr
	Last time edited:
	= @coach.updated_at.strftime("%d.%m.%Y")