%h2
  Teams list

%table.table.table-hover
  %thead
    %tr
      %th E-mail
      %th Team name
      %th
  %tbody
    - for user in @users
      %tr
        %td
          = user.email
        %td
          = user.team_name
        %td
          = link_to "Delete", admin_user_path(user), :confirm => "Are you sure?", :method=>:delete, :class => "btn btn-danger btn-mini"
          |
          = link_to "Edit", edit_admin_user_path(user), :class => "btn btn-primary btn-mini"
          |
          =link_to "Show", admin_user_path(user), :class => "btn btn-primary btn-mini"

/ - content_for :sidebar do
/   = search_form_for [:admin, @search] do |f|
/     .search-form
/       %h5
/         Search:
/       By team name:
/       = f.text_field :team_name_cont
/       By e-mail:
/       = f.text_field :email_cont
/       = f.submit "search", :class => "btn btn-primary"
