%h2
  Teams list

%table.table.table-hover
  %thead
    %tr
      %th E-mail
      %th Team name
      %th
  %tbody
    - for user in @users
      %tr
        %td
          = user.email
        %td
          = user.team_name
        %td
          = link_to "Delete", admin_user_path(user), :confirm => "Are you sure?", :method=>:delete, :class => "btn btn-danger btn-mini"
          |
          = link_to "Edit", edit_admin_user_path(user), :class => "btn btn-primary btn-mini"
          |
          =link_to "Show", admin_user_path(user), :class => "btn btn-primary btn-mini"

/ = paginate @useres

- content_for :sidebar do
  =link_to("+ Add new team", new_admin_user_path, :class => "btn btn-large btn-success")
  %hr
/   = search_form_for @search do |f|
/     .search-form
/       %h5
/         Search:
/       By name:
/       = f.text_field :name_cont
/       By surname:
/       = f.text_field :surname_cont
/       = f.submit "search", :class => "btn btn-primary"
